<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/" target="_blank">
        <img src="/assets/logo.png" alt="logo">
      </a>
      <h1>Celsus</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Data browser" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Database Overview</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/project-explorer">Project Explorer</a>
          </li>
<!--          <li nz-menu-item nzMatchRouter>-->
<!--            <a>Workplace</a>-->
<!--          </li>-->
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Data Entry" nzIcon="form" *ngIf="accounts.loggedIn">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/experiment-form">Experiment data submission</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Account" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter *ngIf="accounts.loggedIn === false">
            <a routerLink="/accounts/login">Login</a>
          </li>
          <li nz-menu-item *ngIf="accounts.loggedIn">
            <a (click)="logout()">Logout</a>
          </li>
          <li nz-menu-item *ngIf="accounts.user_staff">
            <a routerLink="/admin">Control Panel</a>
          </li>
          <li nz-menu-item nzMatchRouter *ngIf="accounts.loggedIn">
            <a routerLink="/accounts/user">User</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <nz-row>
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger"
             nz-icon
             [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
          </span>
          <form nz-form [nzLayout]="'inline'" [formGroup]="form" (ngSubmit)="navigateQuery()">
            <nz-input-group style="width: 500px; padding-top: 18px" nzSearch [nzAddOnAfter]="suffixIconButton">
              <input nz-input placeholder="Search genes of interests" formControlName="query">
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button type="submit" nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
            </ng-template>
          </form>
        </nz-row>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content" *ngIf="initialLoginProcess">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <p>
        Powered by Celsus.
      </p>
    </nz-footer>
  </nz-layout>
</nz-layout>
